*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2C013D;
}

h1{
    text-align: center;
    padding-bottom: 40px;
    color: white;
}
#main{
    height: 60vh;
    width: 100vw
897.6px
;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    font-size: 2rem;
    box-shadow:0 0 2rem wheat;
}

#winner-box{
    padding-top: 100px;
    display:flex ;
    justify-content: center;
    align-items: center;
}
#winner{
    padding-top: 20px;
    height: 200px;
    width: 200px;
    font-size: 2rem;
    color: white;
}

#play-again{
    padding-left: 700px;
    
}
.hidden{
    display: none;
}
#play{
    height: 50px;
    width: 100px;
}

#reset-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#reset {
  height: 45px;
  width: 140px;
  font-size: 1rem;
  cursor: pointer;
}

/* media qurey */

@media (max-width: 480px) {
    h1{
        padding-top: 50px;
    }
    
    #winner{
        padding-left: 50px;
    }
    #winner-box{padding-top: 0px;}

    #play-again{
    padding-left: 190px;}
   
}

@media (max-width: 350px) {
    h1{
        padding-top: 50px;
    }
    
    #winner{
        padding-left: 50px;
    }
    #winner-box{padding-top: 0px;}

    #play-again{
    padding-left: 130px;}
   
}


@media (max-width: 400px) {
    h1{
        padding-top: 50px;
    }
    
    #winner{
        padding-left: 50px;
    }
    #winner-box{padding-top: 0px;}

    #play-again{
    padding-left: 150px;}
   
}